body {
  font-family: sans-serif;
  color: #333;
  padding-right: 0 !important;

  a {
    color: #333;
  }
}

.modal-open {
  margin-right: -9px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-0 {
  padding: 0 !important;
}

.ml-10 {
  margin-left: 10px;
}

.m-0 {
  margin: 0;
}

.border-none {
  border: none;
}

.bg--color-white {
  background: #fff;
}

.text--color-red {
  color: #D80F16 !important;
}

.px-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.px-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.clearbox {
  clear: both;
}
.mb-15 {
  margin-bottom: 15px;
}